{erl_opts, [
            debug_info,
            fail_on_warnings,
            {parse_transform, lager_transform}
           ]}.
{deps, [
        {mustache, {git, "https://github.com/mojombo/mustache.erl.git", {branch, "master"}}},
        {sqerl, {git, "https://github.com/devinus/sqerl", {branch, "master"}}},
        {yamler, {git, "https://github.com/superbobry/yamler.git", {branch, "master"}}},
        lager
       ]}.

{profiles, [
            {test,
             [{erl_opts, [debug_info]}]
            }
           ]
}.

{overrides,
 [
  {override, yamler, [
     {plugins, [pc]},
     {provider_hooks, [ {post, [ {compile, {pc, compile}}, {clean, {pc, clean}} ] }] }
  ]}
]}.

